body{
    font-family:Arial;
    background:#f3e8ff;
    margin:0;
}


nav{
    background:#7c3aed;
    color:white;
    padding:20px;
    text-align:center;
}


.container{
    width:400px;
    background:white;
    margin:60px auto;
    padding:40px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 25px #bbb;
}


h2{
    color:#6d28d9;
}


input{
    width:90%;
    padding:15px;
    margin:15px;
    border-radius:10px;
    border:1px solid #ddd;
}


button{
    background:#7c3aed;
    color:white;
    border:none;
    padding:15px 40px;
    border-radius:25px;
    cursor:pointer;
}


button:hover{
    background:#5b21b6;
}


.success{
    background:#dcfce7;
    color:green;
    padding:12px;
    border-radius:10px;
}
